body {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 15px;
}

#productionYearField, #engineTypeField {
	width: 100%;
}

#markError, #modelError, #engineCapacityError {
	margin-left: 10px;
	color: red;
}
