<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Cars</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/assets/css/cars-style.css}" href="../static/assets/css/cars-style.css">
</head>
<body>
    <div th:insert="~{menu :: menuBar}"></div>
    <table>
        <tr>
            <th>Mark</th>
            <th>Model</th>
            <th>Production Year</th>
            <th>Engine Type</th>
            <th>Engine Capacity</th>
        </tr>
        <tr th:each="car, iter : ${cars}">
            <td><label th:text="${car.mark}"></label></td>
            <td><label th:text="${car.model}"></label></td>
            <td><label th:text="${car.productionYear}"></label></td>
            <td><label th:text="${car.engineType}"></label></td>
            <td><label th:unless="${car.engineCapacity == 0.0}" th:text="${car.engineCapacity}"></label></td>
            <td>
                <div>
                    <button class="btn btn-warning" th:form="editForm + ${iter.index}">Edit</button>
                    <button class="btn btn-danger" th:form="deleteForm + ${iter.index}">Delete</button>
                    <form th:id="editForm + ${iter.index}" action="#" th:action="@{~/editCarPage}" method="post">
                        <input type="hidden" th:name="id" th:value="${car.id}">
                    </form>
                    <form th:id="deleteForm + ${iter.index}" action="#" th:action="@{~/delete}" method="post">
                        <input type="hidden" th:name="id" th:value="${car.id}">
                    </form>
                </div>
            </td>
        </tr>
    </table>
</body>
</html>
