<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Car</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/assets/css/cars-style.css}">
</head>
<body>
    <div th:insert="~{menu :: menuBar}"></div>
    <form th:id="editForm" th:action="@{~/update}" th:object="${carToEdit}" th:method="post">
        <input th:type="hidden" th:field="*{id}">
        <table>
            <tr>
                <td><label th:for="markField">Mark:</label></td>
                <td><input th:type="text" th:field="*{mark}" th:id="markField" th:required="required"></td>
            </tr>
            <tr>
                <td><label th:for="modelField">Model:</label></td>
                <td><input th:type="text" th:field="*{model}" th:id="modelField" th:required="required"></td>
            </tr>
            <tr>
                <td><label th:for="productionYearField">Production Year:</label></td>
                <td><select th:field="*{productionYear}" th:id="productionYearField" th:required="required"></select></td>
            </tr>
            <tr>
                <td><label th:for="engineTypeField">Engine Type:</label></td>
                <td><select th:field="*{engineType}" th:id="engineTypeField" th:required="required"></select></td>
            </tr>
            <tr>
                <td><label th:for="engineCapacityField">Engine Capacity:</label></td>
                <td><input th:type="text" th:field="*{engineCapacity}" th:id="engineCapacityField" th:required="required"></td>
            </tr>
        </table>
    </form>
    <button th:type="submit" class="btn btn-success" th:form="editForm">Edit Car</button>
    <button th:type="submit" class="btn btn-danger" th:form="cancelForm">Cancel</button>
    <form th:id="cancelForm" th:action="@{~/carsPage}"></form>
    <script type="text/javascript" th:inline="javascript">
        var productionYearField = document.getElementById("productionYearField");
        var years = [[${years}]];
        for (var yearIndex in years) {
            productionYearField.options.add(new Option(years[yearIndex], years[yearIndex]));
        }

        var engineTypeField = document.getElementById("engineTypeField");
        engineTypeField.addEventListener("change", function() {
            if (engineTypeField.value === "ELECTRIC") {
                engineCapacityField.value = "";
                engineCapacityField.disabled = true;
            } else {
                engineCapacityField.disabled = false;
            }
        });

        var engineTypes = [[${engineTypesMap}]];
        Object.keys(engineTypes).forEach(function(key) {
            var value = engineTypes[key];
            engineTypeField.options.add(new Option(key, value));
        });

        window.onload = function() {
            productionYearField.value = [[${carToEdit.productionYear}]];
            engineTypeField.value = [[${carToEdit.engineType}]];
            if (engineTypeField.value === "ELECTRIC") {
                engineCapacityField.value = "";
                engineCapacityField.disabled = true;
            }
        }
    </script>
</body>
</html>