<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<title>New Car</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/assets/css/cars-style.css}" href="../static/assets/css/cars-style.css">
</head>
<body>
	<div th:insert="~{menu :: menuBar}"></div>
	<form id="newCarForm" action="#" th:action="@{~/create}" th:object="${newCarDto}" method="post">
		<table>
			<tr>
				<td><label for="markField">Mark:</label></td>
				<td><input type="text" th:field="*{mark}" id="markField" required="required"></td>
			</tr>
			<tr>
				<td><label for="modelField">Model:</label></td>
				<td><input type="text" th:field="*{model}" id="modelField" required="required"></td>
			</tr>
			<tr>
				<td><label for="productionYearField">Production Year:</label></td>
				<td><select th:field="*{productionYear}" id="productionYearField" required="required"></select></td>
			</tr>
			<tr>
				<td><label for="engineTypeField">Engine Type:</label></td>
				<td><select th:field="*{engineType}" id="engineTypeField" required="required"></select></td>
			</tr>
			<tr>
				<td><label for="engineCapacityField">Engine Capacity:</label></td>
				<td><input type="text" th:field="*{engineCapacity}" id="engineCapacityField" required="required"></td>
			</tr>
		</table>
        <button type="submit" class="btn btn-success">Add Car</button>
	</form>
	<script type="text/javascript" th:inline="javascript">
		var productionYearField = document.getElementById("productionYearField");
		var years = [[${years}]];
		for (var yearIndex in years) {
			productionYearField.options.add(new Option(years[yearIndex], years[yearIndex]));
		}

        var engineCapacityField = document.getElementById("engineCapacityField");
        engineCapacityField.value = "";

        var engineTypeField = document.getElementById("engineTypeField");
		engineTypeField.addEventListener("change", function() {
			if (engineTypeField.value === "ELECTRIC") {
				engineCapacityField.value = "";
				engineCapacityField.disabled = true;
			} else {
				engineCapacityField.disabled = false;
			}
		});

        var engineTypes = [[${engineTypesMap}]];
		Object.keys(engineTypes).forEach(function(key) {
			var value = engineTypes[key];
			engineTypeField.options.add(new Option(key, value));
		});
	</script>
</body>
</html>
